extends _layouts/master

block content
    body.account-page.bg-white
        // Begin Wrapper
        .main-wrapper
            .overflow-hidden.p-3.acc-vh
                // start row
                .row.vh-100.w-100.g-0
                    .col-lg-6.vh-100.overflow-y-auto.overflow-x-hidden
                        // start row
                        .row
                            .col-md-10.mx-auto
                                form(action="https://crms.dreamstechnologies.com/html/template/index.html", class="vh-100 d-flex justify-content-between flex-column p-4 pb-0")
                                    .text-center.mb-4.auth-logo
                                        img(src="../client/images/logo.png", class="img-fluid", alt="Logo")
                                    .div-container
                                        .mb-3
                                            h3.mb-2 Sign In
                                            p.mb-0 Access the CRMS panel using your email and passcode.
                                        .mb-3
                                            label.form-label Email Address
                                            .input-group.input-group-flat
                                                input(type="email", class="form-control")
                                                span.input-group-text
                                                    i.ti.ti-mail
                                        .mb-3
                                            label.form-label Password
                                            .input-group.input-group-flat.pass-group
                                                input(type="password", class="form-control pass-input")
                                                span.input-group-text.toggle-password
                                                    i.ti.ti-eye-off
                                        .d-flex.align-items-center.justify-content-between.mb-3
                                            .form-check.form-check-md.d-flex.align-items-center
                                                input.form-check-input.mt-0(type="checkbox", value="", id="checkebox-md", checked="")
                                                label.form-check-label.text-dark.ms-1(for="checkebox-md") Remember Me
                                            .text-end
                                                a(href="../client/forgot-password.html", class="link-danger fw-medium link-hover") Forgot Password?
                                        .mb-3
                                            button(type="submit", class="btn btn-primary w-100") Sign In
                                        .mb-3
                                            p.mb-0 New on our platform?
                                                a(href="../client/register.html", class="link-indigo fw-bold link-hover")  Create an account
                                        .or-login.text-center.position-relative.mb-3
                                            h6.fs-14.mb-0.position-relative.text-body OR
                                        .d-flex.align-items-center.justify-content-center.flex-wrap.gap-2.mb-3
                                            .text-center.flex-fill
                                                a(href="javascript:void(0);", class="p-2 btn btn-info d-flex align-items-center justify-content-center")
                                                    img.img-fluid.m-1(src="../client/images/login/icon-google.svg", alt="Facebook")
                                            .text-center.flex-fill
                                                a(href="javascript:void(0);", class="p-2 btn btn-outline-light d-flex align-items-center justify-content-center")
                                                    img.img-fluid.m-1(src="../client/images/login/icon-google.svg", alt="Google")
                                            .text-center.flex-fill
                                                a(href="javascript:void(0);", class="p-2 btn btn-dark d-flex align-items-center justify-content-center")
                                                    img.img-fluid.m-1(src="../client/images/login/icon-google.svg", alt="Apple")
                                    .text-center.pb-4
                                        p.text-dark.mb-0 Copyright &copy; 
                                            script(type="96cb89a94987acc0c6249364-text/javascript") document.write(new Date().getFullYear())
                                            |  - CRMS
                    .col-lg-6.account-bg-01