extends _layouts/master

block content
    //- Sidenav Menu Start
    .sidebar#sidebar
        //- Start Logo
        .sidebar-logo
            .logo-container
                //- Logo Normal
                a.logo.logo-normal(href="../client/index.html")
                    img(src="../client/img/logo.svg" alt="Logo")
                
                //- Logo Small
                a.logo-small(href="../client/index.html")
                    img(src="../client/img/logo-small.svg" alt="Logo")
                
                //- Logo Dark
                a.dark-logo(href="../client/index.html")
                    img(src="../client/img/logo-white.svg" alt="Logo")
            
            button.sidenav-toggle-btn.btn.border-0.p-0.active#toggle_btn
                i.ti.ti-arrow-bar-to-left
            
            //- Sidebar Menu Close
            button.sidebar-close
                i.ti.ti-x.align-middle
        //- End Logo

        //- Sidenav Menu
        .sidebar-inner(data-simplebar)
            #sidebar-menu.sidebar-menu
                ul
                    li.menu-title
                        span Main Menu
                    li
                        ul
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-dashboard
                                    span Dashboard
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/index.html") Deals Dashboard
                                    li
                                        a(href="../client/leads-dashboard.html") Leads Dashboard
                                    li
                                        a(href="../client/project-dashboard.html") Project Dashboard
                            
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-brand-airtable
                                    span Applications
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/chat.html") Chat
                                    li.submenu.submenu-two
                                        a(href="javascript:void(0);")
                                            | Call
                                            span.menu-arrow.inside-submenu
                                        ul
                                            li
                                                a(href="../client/video-call.html") Video Call
                                            li
                                                a(href="../client/audio-call.html") Audio Call
                                            li
                                                a(href="../client/call-history.html") Call History
                                    li
                                        a(href="../client/calendar.html") Calendar
                                    li
                                        a(href="../client/email.html") Email
                                    li
                                        a(href="../client/todo.html") To Do
                                    li
                                        a(href="../client/notes.html") Notes
                                    li
                                        a(href="../client/file-manager.html") File Manager
                                    li
                                        a(href="../client/social-feed.html") Social Feed
                                    li
                                        a(href="../client/kanban-view.html") Kanban
                                    li
                                        a(href="../client/invoice.html") Invoices
                            
                            li.submenu
                                a(href="#")
                                    i.ti.ti-user-star
                                    span Super Admin
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/dashboard.html") Dashboard
                                    li
                                        a(href="../client/company.html") Companies
                                    li
                                        a(href="../client/subscription.html") Subscriptions
                                    li
                                        a(href="../client/packages.html") Packages
                                    li
                                        a(href="../client/domain.html") Domain
                                    li
                                        a(href="../client/purchase-transaction.html") Purchase Transaction
                            
                            li.submenu
                                a(href="#")
                                    i.ti.ti-layout-grid
                                    span Layouts
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/layout-mini.html") Mini
                                    li
                                        a(href="../client/layout-hoverview.html") Hover View
                                    li
                                        a(href="../client/layout-hidden.html") Hidden
                                    li
                                        a(href="../client/layout-fullwidth.html") Full Width
                                    li
                                        a(href="../client/layout-rtl.html") RTL
                                    li
                                        a(href="../client/layout-dark.html") Dark
                    
                    li.menu-title
                        span CRM
                    li
                        ul
                            li
                                a(href="../client/contacts.html")
                                    i.ti.ti-user-up
                                    span Contacts
                            li
                                a(href="../client/companies.html")
                                    i.ti.ti-building-community
                                    span Companies
                            li
                                a(href="../client/deals.html")
                                    i.ti.ti-medal
                                    span Deals
                            li
                                a(href="../client/leads.html")
                                    i.ti.ti-chart-arcs
                                    span Leads
                            li
                                a(href="../client/pipeline.html")
                                    i.ti.ti-timeline-event-exclamation
                                    span Pipeline
                            li
                                a(href="../client/campaign.html")
                                    i.ti.ti-brand-campaignmonitor
                                    span Campaign
                            li
                                a(href="../client/projects.html")
                                    i.ti.ti-atom-2
                                    span Projects
                            li
                                a(href="../client/tasks.html")
                                    i.ti.ti-list-check
                                    span Tasks
                            li
                                a(href="../client/proposals.html")
                                    i.ti.ti-file-star
                                    span Proposals
                            li
                                a(href="../client/contracts.html")
                                    i.ti.ti-file-check
                                    span Contracts
                            li
                                a(href="../client/estimations.html")
                                    i.ti.ti-file-report
                                    span Estimations
                            li
                                a(href="../client/invoices.html")
                                    i.ti.ti-file-invoice
                                    span Invoices
                            li
                                a(href="../client/payments.html")
                                    i.ti.ti-report-money
                                    span Payments
                            li
                                a(href="../client/analytics.html")
                                    i.ti.ti-chart-bar
                                    span Analytics
                            li
                                a(href="../client/activities.html")
                                    i.ti.ti-bounce-right
                                    span Activities
                    
                    li.menu-title
                        span Reports
                    li
                        ul
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-report-analytics
                                    span Reports
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/lead-reports.html") Lead Reports
                                    li
                                        a(href="../client/deal-reports.html") Deal Reports
                                    li
                                        a(href="../client/contact-reports.html") Contact Reports
                                    li
                                        a(href="../client/company-reports.html") Company Reports
                                    li
                                        a(href="../client/project-reports.html") Project Reports
                                    li
                                        a(href="../client/task-reports.html") Task Reports
                    
                    li.menu-title
                        span CRM Settings
                    li
                        ul
                            li
                                a(href="../client/sources.html")
                                    i.ti.ti-artboard
                                    span Sources
                            li
                                a(href="../client/lost-reason.html")
                                    i.ti.ti-message-exclamation
                                    span Lost Reason
                            li
                                a(href="../client/contact-stage.html")
                                    i.ti.ti-steam
                                    span Contact Stage
                            li
                                a(href="../client/industry.html")
                                    i.ti.ti-building-factory
                                    span Industry
                            li
                                a(href="../client/calls.html")
                                    i.ti.ti-phone-check
                                    span Calls
                    
                    li.menu-title
                        span User Management
                    li
                        ul
                            li
                                a(href="../client/manage-users.html")
                                    i.ti.ti-users
                                    span Manage Users
                            li
                                a(href="../client/roles-permissions.html")
                                    i.ti.ti-user-shield
                                    span Roles & Permissions
                            li
                                a(href="../client/delete-request.html")
                                    i.ti.ti-flag-question
                                    span Delete Request
                    
                    li.menu-title
                        span Membership
                    li
                        ul
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-brand-apple-podcast
                                    span Membership
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/membership-plans.html") Membership Plans
                                    li
                                        a(href="../client/membership-addons.html") Membership Addons
                                    li
                                        a(href="../client/membership-transactions.html") Transactions
                    
                    li.menu-title
                        span Content
                    li
                        ul
                            li
                                a(href="../client/pages.html")
                                    i.ti.ti-page-break
                                    span Pages
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-brand-blogger
                                    span Blog
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/blogs.html") All Blogs
                                    li
                                        a(href="../client/blog-categories.html") Blog Categories
                                    li
                                        a(href="../client/blog-comments.html") Blog Comments
                                    li
                                        a(href="../client/blog-tags.html") Blog Tags
                            
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-map-pin-pin
                                    span Location
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/countries.html") Countries
                                    li
                                        a(href="../client/states.html") States
                                    li
                                        a(href="../client/cities.html") Cities
                            
                            li
                                a(href="../client/testimonials.html")
                                    i.ti.ti-quote
                                    span Testimonials
                            li
                                a(href="../client/faq.html")
                                    i.ti.ti-question-mark
                                    span FAQ
                    
                    li.menu-title
                        span Support
                    li
                        ul
                            li
                                a(href="../client/contact-messages.html")
                                    i.ti.ti-message-check
                                    span Contact Messages
                            li
                                a(href="../client/tickets.html")
                                    i.ti.ti-ticket
                                    span Tickets
                    
                    li.menu-title
                        span Settings
                    li
                        ul
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-settings-cog
                                    span General Settings
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/profile-settings.html") Profile
                                    li
                                        a(href="../client/security-settings.html") Security
                                    li
                                        a(href="../client/notifications-settings.html") Notifications
                                    li
                                        a(href="../client/connected-apps.html") Connected Apps
                            
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-world-cog
                                    span Website Settings
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/company-settings.html") Company Settings
                                    li
                                        a(href="../client/localization-settings.html") Localization
                                    li
                                        a(href="../client/prefixes-settings.html") Prefixes
                                    li
                                        a(href="../client/preference-settings.html") Preference
                                    li
                                        a(href="../client/appearance-settings.html") Appearance
                                    li
                                        a(href="../client/language-settings.html") Language
                            
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-apps
                                    span App Settings
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/invoice-settings.html") Invoice Settings
                                    li
                                        a(href="../client/printers-settings.html") Printers
                                    li
                                        a(href="../client/custom-fields-setting.html") Custom Fields
                            
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-device-laptop
                                    span System Settings
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/email-settings.html") Email Settings
                                    li
                                        a(href="../client/sms-gateways.html") SMS Gateways
                                    li
                                        a(href="../client/gdpr-cookies.html") GDPR Cookies
                            
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-moneybag
                                    span Financial Settings
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/payment-gateways.html") Payment Gateways
                                    li
                                        a(href="../client/bank-accounts.html") Bank Accounts
                                    li
                                        a(href="../client/tax-rates.html") Tax Rates
                                    li
                                        a(href="../client/currencies.html") Currencies
                            
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-settings-2
                                    span Other Settings
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/sitemap.html") Sitemap
                                    li
                                        a(href="../client/clear-cache.html") Clear Cache
                                    li
                                        a(href="../client/storage.html") Storage
                                    li
                                        a(href="../client/cronjob.html") Cronjob
                                    li
                                        a(href="../client/ban-ip-address.html") Ban IP Address
                                    li
                                        a(href="../client/system-backup.html") System Backup
                                    li
                                        a(href="../client/database-backup.html") Database Backup
                                    li
                                        a(href="../client/system-update.html") System Update
                    
                    li.menu-title
                        span Pages
                    li
                        ul
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-lock-square-rounded
                                    span Authentication
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/login.html") Login
                                    li
                                        a(href="../client/register.html") Register
                                    li
                                        a(href="../client/forgot-password.html") Forgot Password
                                    li
                                        a(href="../client/reset-password.html") Reset Password
                                    li
                                        a(href="../client/email-verification.html") Email Verification
                                    li
                                        a(href="../client/two-step-verification.html") 2 Step Verification
                                    li
                                        a(href="../client/lock-screen.html") Lock Screen
                            
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-error-404
                                    span Error Pages
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/error-404.html") 404 Error
                                    li
                                        a(href="../client/error-500.html") 500 Error
                            
                            li
                                a(href="../client/blank-page.html")
                                    i.ti.ti-file
                                    span Blank Page
                            li
                                a(href="../client/coming-soon.html")
                                    i.ti.ti-inner-shadow-top-right
                                    span Coming Soon
                            li
                                a(href="../client/under-maintenance.html")
                                    i.ti.ti-info-triangle
                                    span Under Maintenance
                    
                    li.menu-title
                        span UI Interface
                    li
                        ul
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-hierarchy
                                    span Base UI
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/ui-accordion.html") Accordion
                                    li
                                        a(href="../client/ui-alerts.html") Alerts
                                    li
                                        a(href="../client/ui-avatar.html") Avatar
                                    li
                                        a(href="../client/ui-badges.html") Badges
                                    li
                                        a(href="../client/ui-breadcrumb.html") Breadcrumb
                                    li
                                        a(href="../client/ui-buttons.html") Buttons
                                    li
                                        a(href="../client/ui-buttons-group.html") Button Group
                                    li
                                        a(href="../client/ui-cards.html") Card
                                    li
                                        a(href="../client/ui-carousel.html") Carousel
                                    li
                                        a(href="../client/ui-collapse.html") Collapse
                                    li
                                        a(href="../client/ui-dropdowns.html") Dropdowns
                                    li
                                        a(href="../client/ui-ratio.html") Ratio
                                    li
                                        a(href="../client/ui-grid.html") Grid
                                    li
                                        a(href="../client/ui-images.html") Images
                                    li
                                        a(href="../client/ui-links.html") Links
                                    li
                                        a(href="../client/ui-list-group.html") List Group
                                    li
                                        a(href="../client/ui-modals.html") Modals
                                    li
                                        a(href="../client/ui-offcanvas.html") Offcanvas
                                    li
                                        a(href="../client/ui-pagination.html") Pagination
                                    li
                                        a(href="../client/ui-placeholders.html") Placeholders
                                    li
                                        a(href="../client/ui-popovers.html") Popovers
                                    li
                                        a(href="../client/ui-progress.html") Progress
                                    li
                                        a(href="../client/ui-scrollspy.html") Scrollspy
                                    li
                                        a(href="../client/ui-spinner.html") Spinner
                                    li
                                        a(href="../client/ui-nav-tabs.html") Tabs
                                    li
                                        a(href="../client/ui-toasts.html") Toasts
                                    li
                                        a(href="../client/ui-tooltips.html") Tooltips
                                    li
                                        a(href="../client/ui-typography.html") Typography
                                    li
                                        a(href="../client/ui-utilities.html") Utilities
                            
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-whirl
                                    span Advanced UI
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/ui-dragula.html") Dragula
                                    li
                                        a(href="../client/ui-clipboard.html") Clipboard
                                    li
                                        a(href="../client/ui-rangeslider.html") Range Slider
                                    li
                                        a(href="../client/ui-sweetalerts.html") Sweet Alerts
                                    li
                                        a(href="../client/ui-lightbox.html") Lightbox
                                    li
                                        a(href="../client/ui-rating.html") Rating
                                    li
                                        a(href="../client/ui-scrollbar.html") Scrollbar
                            
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-forms
                                    span Forms
                                    span.menu-arrow
                                ul
                                    li.submenu.submenu-two
                                        a(href="javascript:void(0);")
                                            | Form Elements
                                            span.menu-arrow.inside-submenu
                                        ul
                                            li
                                                a(href="../client/form-basic-inputs.html") Basic Inputs
                                            li
                                                a(href="../client/form-checkbox-radios.html") Checkbox & Radios
                                            li
                                                a(href="../client/form-input-groups.html") Input Groups
                                            li
                                                a(href="../client/form-grid-gutters.html") Grid & Gutters
                                            li
                                                a(href="../client/form-mask.html") Input Masks
                                            li
                                                a(href="../client/form-fileupload.html") File Uploads
                                    
                                    li.submenu.submenu-two
                                        a(href="javascript:void(0);")
                                            | Layouts
                                            span.menu-arrow.inside-submenu
                                        ul
                                            li
                                                a(href="../client/form-horizontal.html") Horizontal Form
                                            li
                                                a(href="../client/form-vertical.html") Vertical Form
                                            li
                                                a(href="../client/form-floating-labels.html") Floating Labels
                                    
                                    li
                                        a(href="../client/form-validation.html") Form Validation
                                    li
                                        a(href="../client/form-select.html") Form Select
                                    li
                                        a(href="../client/form-wizard.html") Form Wizard
                                    li
                                        a(href="../client/form-pickers.html") Form Picker
                                    li
                                        a(href="../client/form-editors.html") Form Editors
                            
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-table
                                    span Tables
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/tables-basic.html") Basic Tables
                                    li
                                        a(href="../client/data-tables.html") Data Table
                            
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-chart-pie-3
                                    span Charts
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/chart-apex.html") Apex Charts
                                    li
                                        a(href="../client/chart-c3.html") Chart C3
                                    li
                                        a(href="../client/chart-js.html") Chart Js
                                    li
                                        a(href="../client/chart-morris.html") Morris Charts
                                    li
                                        a(href="../client/chart-flot.html") Flot Charts
                                    li
                                        a(href="../client/chart-peity.html") Peity Charts
                            
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-icons
                                    span Icons
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/icon-fontawesome.html") Fontawesome Icons
                                    li
                                        a(href="../client/icon-tabler.html") Tabler Icons
                                    li
                                        a(href="../client/icon-bootstrap.html") Bootstrap Icons
                                    li
                                        a(href="../client/icon-remix.html") Remix Icons
                                    li
                                        a(href="../client/icon-feather.html") Feather Icons
                                    li
                                        a(href="../client/icon-ionic.html") Ionic Icons
                                    li
                                        a(href="../client/icon-material.html") Material Icons
                                    li
                                        a(href="../client/icon-pe7.html") Pe7 Icons
                                    li
                                        a(href="../client/icon-simpleline.html") Simpleline Icons
                                    li
                                        a(href="../client/icon-themify.html") Themify Icons
                                    li
                                        a(href="../client/icon-weather.html") Weather Icons
                                    li
                                        a(href="../client/icon-typicon.html") Typicon Icons
                                    li
                                        a(href="../client/icon-flag.html") Flag Icons
                            
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-map-star
                                    span Maps
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="../client/maps-vector.html") Vector
                                    li
                                        a(href="../client/maps-leaflet.html") Leaflet
                    
                    li.menu-title
                        span Help
                    li
                        ul
                            li
                                a(href="javascript:void(0);")
                                    i.ti.ti-file-stack
                                    span Documentation
                            li
                                a(href="javascript:void(0);")
                                    i.ti.ti-arrow-capsule
                                    span Changelog v2.3.0
                            li.submenu
                                a(href="javascript:void(0);")
                                    i.ti.ti-menu-deep
                                    span Multi Level
                                    span.menu-arrow
                                ul
                                    li
                                        a(href="javascript:void(0);") Level 1.1
                                    li.submenu.submenu-two
                                        a(href="javascript:void(0);")
                                            | Level 1.2
                                            span.menu-arrow.inside-submenu
                                        ul
                                            li
                                                a(href="javascript:void(0);") Level 2.1
                                            li.submenu.submenu-two.submenu-three
                                                a(href="javascript:void(0);")
                                                    | Level 2.2
                                                    span.menu-arrow.inside-submenu.inside-submenu-two
                                                ul
                                                    li
                                                        a(href="javascript:void(0);") Level 3.1
                                                    li
                                                        a(href="javascript:void(0);") Level 3.2
    //- Sidenav Menu End

    //- ========================
    //- Start Page Content
    //- ========================
    
    .page-wrapper
        //- Start Content
        .content.pb-0
            //- Page Header
            .d-flex.align-items-center.justify-content-between.gap-2.mb-4.flex-wrap
                .page-title
                    h4.mb-1 Two Step Verification
                .gap-2.d-flex.align-items-center.flex-wrap
                    a.btn.btn-icon.btn-outline-light.shadow(href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Refresh" data-bs-original-title="Refresh")
                        i.ti.ti-refresh
                    a.btn.btn-icon.btn-outline-light.shadow#collapse-header(href="javascript:void(0);" data-bs-toggle="tooltip" data-bs-placement="top" aria-label="Collapse" data-bs-original-title="Collapse")
                        i.ti.ti-transition-top
            //- End Page Header

            //- Page Content goes here
            .row
                .col-12
                    .card
                        .card-body
                            h5.card-title Page Content
                            p.card-text This is where the main page content will go.

        //- End Content

        //- Start Footer
        footer.footer.d-block.d-md-flex.justify-content-between.text-md-start.text-center
            p.mb-md-0.mb-1
                | Copyright &copy; 
                script(type="5cdf120ccd65b85fc92fbfe8-text/javascript").
                    document.write(new Date().getFullYear())
                |  
                a.link-primary.text-decoration-underline(href="javascript:void(0);") CRMS
            .d-flex.align-items-center.gap-2.footer-links.justify-content-center.justify-content-md-end
                a(href="javascript:void(0);") About
                a(href="javascript:void(0);") Terms
                a(href="javascript:void(0);") Contact Us
        //- End Footer

    //- ========================
    //- End Page Content
    //- ========================
