@use "./breakpoint.scss" as *;

// Tada Animation
.animate-ring {
    animation: tada 1.5s ease infinite;
}

@keyframes tada {
    0% {
        transform: scaleZ(1);
    }

    10%,
    20% {
        transform: scale3d(0.95, 0.95, 0.95) rotate3d(0, 0, 1, -10deg);
    }

    30%,
    50%,
    70%,
    90% {
        transform: scaleZ(1) rotate3d(0, 0, 1, 10deg);
    }

    40%,
    60%,
    80% {
        transform: rotate3d(0, 0, 1, -10deg);
    }

    to {
        transform: scaleZ(1);
    }
}