@use "sass:map";

/* media size */
$mobile-mini-width: 320px;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-sm-width: 1024px;
$desktop-width: 1366px;
$desktop-width-xxl: 1440px;
$breakpoints: (
  sm: 480px,
  md: 1024px,
  lg: 1366px,
);

@mixin xs {
  @media (max-width: #{$mobile-mini-width}) {
    @content;
  }
}

@mixin sm {
  @media (min-width: #{$mobile-mini-width}) and (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-sm-width - 1px}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$desktop-sm-width}) and (max-width: #{$desktop-width}) {
    @content;
  }
}

@mixin xl {
  @media (min-width: #{$desktop-width}) and (max-width: #{$desktop-width-xxl}) {
    @content;
  }
}

@mixin xxl {
  @media (min-width: #{$desktop-width-xxl + 1px}) {
    @content;
  }
}

@mixin media($keys...) {
  @each $key in $keys {
    @media screen and (max-width: map.get($breakpoints, $key)) {
      @content;
    }
  }
}

// Bootstrap-like breakpoint mixins
@mixin breakpoint-down($size) {
  @if $size ==sm {
    @media (max-width: 575.98px) {
      @content;
    }
  }

  @else if $size ==md {
    @media (max-width: 767.98px) {
      @content;
    }
  }

  @else if $size ==lg {
    @media (max-width: 991.98px) {
      @content;
    }
  }

  @else if $size ==xl {
    @media (max-width: 1199.98px) {
      @content;
    }
  }

  @else if $size ==xxl {
    @media (max-width: 1399.98px) {
      @content;
    }
  }
}

@mixin breakpoint-up($size) {
  @if $size ==sm {
    @media (min-width: 576px) {
      @content;
    }
  }

  @else if $size ==md {
    @media (min-width: 768px) {
      @content;
    }
  }

  @else if $size ==lg {
    @media (min-width: 992px) {
      @content;
    }
  }

  @else if $size ==xl {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @else if $size ==xxl {
    @media (min-width: 1400px) {
      @content;
    }
  }
}