@use "./breakpoint.scss" as *;

// Header Collapse
.header-collapse {
    .navbar-header {
        display: none;
        height: 0;
    }

    #collapse-header i {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }

    .page-wrapper .content {
        padding: 1.25rem;
        min-height: calc(100vh - 39px);
    }
}

// Sidebar Main
.sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: var(--menu-bg);
    border-right: 1px solid var(--menu-item-border);
    margin-top: 0;
    z-index: 99;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    transition: all 0.25s ease-in-out;
    width: var(--sidenav-width);

    @include media(sm) {
        margin-left: -575px;
        transition: all 0.4s ease;
        z-index: 9999;
        top: 0;
    }

    // Sidebar Logo
    .sidebar-logo {
        position: fixed;
        line-height: var(--topbar-height);
        width: var(--sidenav-width);
        padding: 0 16px;
        border-bottom: 1px solid var(--menu-item-border);

        .logo {
            display: block;
        }

        .logo-small,
        .dark-logo {
            display: none;
        }

        @include lg {
            #toggle_btn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 16px;
                width: 22px;
                height: 22px;
                border-radius: 50%;
                color: var(--menu-item-heading);
                font-size: 16px;
            }
        }
    }

    // Simplebar
    [data-simplebar] {
        top: var(--topbar-height);
        height: calc(100% - var(--topbar-height));

        @include xs {
            width: 100% !important;
        }

        @include media(sm) {
            height: 100%;
        }

        .sidebar-menu {
            margin-top: 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
        }
    }

    .sidebar-inner {
        width: 100%;
    }

    .sidebar-menu {
        margin-top: var(--topbar-height);
        padding: 16px;

        ul {
            margin: 0;
            padding-left: 0;
            list-style: none;
            display: flex;
            flex-direction: column;

            >li {
                margin-bottom: 10px;

                &:last-child {
                    margin-bottom: 0;
                }

                &:first-child.menu-title {
                    margin-top: 0;
                }

                // Count badge
                >ul>li>a .count {
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    background: var(--danger);
                    font-size: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: var(--white);
                    flex-shrink: 0;
                    margin-left: auto;
                    font-weight: 400;
                }

                >ul>li>a {
                    &:hover {
                        background: var(--menu-item-active-bg);
                        color: var(--primary);

                        i {
                            color: #fff;
                            background-color: var(--primary);
                        }

                        .menu-arrow::before {
                            border-color: var(--white);
                        }
                    }
                }

                &:last-child ul {
                    margin-bottom: 0;
                }

                &.active a {
                    color: var(--white);
                }

                >a {
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    align-items: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    padding: 10px 15px;
                    position: relative;
                    color: var(--gray-900);
                    border-bottom: none;

                    &.active {
                        background: var(--light);
                        border-radius: 6px;
                        border-left: 2px solid var(--menu-item-active-color);
                    }

                    span {
                        font-size: 15px;
                        font-weight: 500;
                        color: var(--gray-600);
                    }
                }

                &.submenu ul {
                    display: none;

                    li a {
                        font-weight: 500;
                        font-size: 14px;
                        position: relative;
                        display: block;
                        padding: 8px 8px 8px 40px;
                        padding-left: 30px;
                    }
                }

                ul {
                    display: flex;
                    flex-direction: column;

                    li {
                        overflow: hidden;
                        margin-bottom: 5px;

                        a {
                            display: -webkit-box;
                            border-radius: 6px;
                            display: -ms-flexbox;
                            display: flex;
                            align-items: center;
                            -webkit-box-align: center;
                            -ms-flex-align: center;
                            font-size: 14px;
                            color: var(--menu-item-heading);
                            font-weight: 500;
                            position: relative;
                            width: 100%;
                            padding: 4px 4px;

                            i {
                                font-size: 16px;
                                width: 28px;
                                height: 28px;
                                background-color: var(--menu-icon-bg);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 5px;
                                flex-shrink: 0;
                            }

                            span {
                                white-space: nowrap;
                                margin-left: 8px;
                            }

                            &.active {
                                color: var(--menu-item-hover-color);

                                .menu-arrow::before {
                                    border-color: var(--white);
                                }

                                &::before {
                                    opacity: 1;
                                }
                            }
                        }

                        &.active a {
                            background: var(--menu-item-active-bg);
                            border-radius: 6px;
                            color: var(--primary);

                            i {
                                color: #fff;
                                background-color: var(--primary);
                            }

                            .menu-arrow::before {
                                border-right: 2px solid var(--primary);
                                border-bottom: 2px solid var(--primary);
                            }

                            &.subdrop {
                                background: var(--primary-transparent);
                                border-radius: 6px;
                                color: var(--primary);

                                i {
                                    color: var(--white);
                                    background: var(--white);
                                }

                                span {
                                    color: var(--primary);
                                }
                            }
                        }
                    }
                }

                .submenu ul {
                    display: none;
                    border: 0;
                    padding-top: 0;
                    padding-bottom: 0;
                    position: relative;

                    li {
                        margin: 0;
                    }
                }

                &.menu-title {
                    font-weight: 500;
                    letter-spacing: 0;
                    font-size: 13px;
                    margin: 8px 0 12px;
                    text-transform: uppercase;
                    position: relative;
                    display: flex;
                    align-items: center;
                    border: 0;
                    color: var(--menu-title-color);

                    span {
                        flex-shrink: 0;
                    }
                }

                .submenu>ul {
                    margin: 4px 0 0;
                    position: relative;

                    li a {
                        padding: 8px 4px 8px 36px;
                        font-size: 13px;
                        position: relative;
                        color: var(--menu-item-color);
                        font-weight: 400;

                        &.active {
                            color: var(--submenu-active-color);

                            &::before {
                                opacity: 1;
                            }

                            &::after {
                                background-color: var(--submenu-active-color);
                            }
                        }

                        &:hover {
                            color: var(--submenu-active-color);

                            &::after {
                                background-color: var(--submenu-active-color);
                            }

                            .menu-arrow::before {
                                border-color: var(--menu-item-hover-color);
                            }
                        }

                        &::after {
                            position: absolute;
                            content: "";
                            background-color: var(--menu-item-color);
                            width: 8px;
                            height: 8px;
                            left: 20px;
                            top: 50%;
                            border-radius: 50%;
                            transform: translateY(-50%);
                            -webkit-transform: translateY(-50%);
                            -ms-transform: translateY(-50%);
                        }

                        &::before {
                            position: absolute;
                            content: "";
                            background-color: var(--menu-item-border);
                            width: 0.5px;
                            height: 8px;
                            left: 22.5px;
                            top: -2px;
                        }
                    }
                }

                .submenu>a {
                    &.subdrop {
                        background: var(--menu-item-active-bg);
                        border-radius: 6px;
                        color: var(--primary);

                        i {
                            color: #fff;
                            background-color: var(--primary);
                        }

                        .menu-arrow::before {
                            border-color: var(--primary);
                        }
                    }

                    &.active {
                        background: var(--menu-item-active-bg);
                        border-radius: 6px;
                        color: var(--primary);

                        i {
                            color: #fff;
                            background-color: var(--primary);
                        }
                    }
                }

                .submenu.submenu-two {
                    a.subdrop {
                        background: transparent;
                        color: var(--menu-item-active-color);
                        border: 0;

                        .menu-arrow::before {
                            border-color: var(--menu-item-active-color);
                        }
                    }

                    a.active {
                        background: transparent;
                        color: var(--menu-active-color);
                        border: 0;

                        .menu-arrow::before {
                            border-color: var(--menu-active-color);
                        }
                    }

                    ul {
                        margin-top: 0;

                        li {
                            margin-left: 20px;
                        }
                    }

                    &.submenu-three ul li {
                        margin-left: 20px;
                    }
                }
            }
        }

        // Menu Arrow
        .menu-arrow {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            justify-content: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            text-rendering: auto;
            line-height: 40px;
            font-size: 18px;
            line-height: 16px;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            position: absolute;
            top: 50%;
            right: 6px;
            transform: translatey(-50%);
            transition: all 0.2s ease;

            &::before {
                position: absolute;
                right: 0;
                top: 50%;
                content: "\ea5f";
                font-family: "tabler-icons";
                margin-right: 0;
                font-size: 14px;
                display: inline-block;
                transform: translateY(-50%);
            }

            &.inside-submenu {
                right: 10px;
            }
        }

        &.subdrop .menu-arrow {
            transform: translateY(-50%) rotate(90deg);
            background: #FFEDDC;
        }
    }

    li a.subdrop .menu-arrow::before {
        content: "\ea62";
    }
}

// Mini Sidebar
@include lg {
    .mini-sidebar {
        .page-wrapper {
            margin-left: var(--sidenav-width-sm);
        }

        .header-left #toggle_btn {
            opacity: 1;
            transform: rotate(180deg);

            &:after {
                border: 0;
            }
        }

        .sidebar .sidebar-menu .clinicdropdown>a {
            padding: 5px;
        }

        &.expand-menu {
            .header-left #toggle_btn {
                opacity: 1;
                transform: rotate(180deg);
            }

            .sidebar .sidebar-menu .clinicdropdown>a {
                padding: 10px 15px;
            }

            .sidebar-right {
                display: none;
            }
        }

        .sidebar {
            width: var(--sidenav-width-sm);
            overflow: hidden;

            .sidebar-menu ul li {

                a span,
                a .count {
                    display: none;
                }

                .menu-title {
                    font-size: 0;

                    &::after {
                        margin-left: 0;
                    }
                }

                svg {
                    margin-right: 0;
                }
            }
        }

        .navbar-header {
            margin-left: var(--sidenav-width-sm);

            @include media(sm) {
                left: 0;
                margin-left: 0;
            }
        }

        #toggle_btn {
            opacity: 0;
        }

        .sidebar .sidebar-logo {
            width: var(--sidenav-width-sm);

            .logo {
                display: none;
            }

            .logo-small {
                display: block;
                text-align: center;

                @include media(sm) {
                    display: none;
                }
            }

            @include media(sm) {
                width: 240px;

                .logo {
                    display: block;
                }
            }
        }

        .sidebar .sidebar-menu>ul li {
            position: relative;

            &.menu-title {
                display: none;

                @include lg {
                    span {
                        display: none;
                    }
                }

                &:first-child::before {
                    content: none;
                }
            }

            a {
                justify-content: center;
                height: 38px;
            }
        }

        &.expand-menu {
            .sidebar .sidebar-menu>ul>li.submenu-open ul li a {
                justify-content: left;
                -webkit-justify-content: left;
                -ms-flex-pack: left;
                padding-left: 18px;
            }

            .sidebar .sidebar-menu>ul>li ul>li.active a {
                justify-content: start;
            }

            .sidebar .user-names {
                display: block !important;
            }

            .sidebar .sidebar-menu>ul li.menu-title::before {
                content: none;
            }

            .sidebar .sidebar-menu>ul li.menu-title span {
                display: block;
            }

            .sidebar .sidebar-menu>ul li a {
                justify-content: start;
            }

            .navbar-header {
                margin-left: var(--sidenav-width);

                #toggle_btn {
                    left: -32px;
                    background: transparent;
                    color: var(--gray-900);
                }
            }

            #toggle_btn {
                opacity: 1;

                i {
                    transform: rotate(180deg);
                }
            }

            .sidebar {
                width: var(--sidenav-width);

                .sidebar-logo {
                    width: var(--sidenav-width);

                    .logo {
                        display: block;
                    }

                    .logo-small {
                        display: none;
                        text-align: center;
                    }

                    .sidebar-menu ul li a .count {
                        display: flex;
                    }

                    .sidebar-menu .menu-title {
                        display: flex;

                        &::after {
                            margin-left: 8px;
                        }
                    }

                    .user-names {
                        display: none;
                    }
                }
            }

            .sidebar-right {
                display: block;
                transition: all 0.2s ease;
            }

            .sidebar .sidebar-menu ul>li>a span {
                display: inline-block;
            }

            .sidebar .sidebar-menu .menu-title {
                display: flex;
            }

            #toggle_btn {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                align-items: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                justify-content: center;
                -webkit-justify-content: center;
                -ms-flex-pack: center;
                color: var(--topbar-item-color);

                &.active {
                    border: 0;
                    background: transparent;
                }

                &:hover {
                    color: var(--topbar-item-hover-color);
                }
            }
        }
    }
}

// Slide Nav
.slide-nav .sidebar {
    margin-left: 0;
}

.mini-sidebar .slide-nav .sidebar .sidebar-menu>ul li a {
    justify-content: start;
}

.mini-sidebar .slide-nav .active.subdrop~ul {
    display: block !important;
}

// Sidebar Overlay
.sidebar-overlay {
    display: none;
    height: 100%;
    width: 100%;
    z-index: 1050;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;

    &.opened {
        display: block;
    }
}

// Active Subdrop
.mini-sidebar .active.subdrop~ul {
    display: none !important;
}

.mini-sidebar.expand-menu .active.subdrop~ul {
    display: block !important;
}

.active.subdrop~ul {
    display: block !important;
}

.mini-sidebar.expand-menu .navbar-header #toggle_btn {
    opacity: 1;
}

// Sidebar Close
.sidebar-close {
    display: none;
    z-index: 1;
    position: absolute;
    background: transparent;
    border: none;
    top: 0;
    right: 10px;
    cursor: pointer;
    color: var(--menu-item-color);
    line-height: var(--topbar-height);
    font-size: 20px;

    &:hover,
    &:focus,
    &:active {
        color: var(--menu-item-hover-color);
    }

    @include media(sm) {
        display: block;
    }
}

// Full Width Layout
[data-layout="full-width"] {
    .mobile-btn {
        display: block;
    }

    .slide-nav .sidebar {
        margin-left: 0;
        transition: all 0.4s ease;
        z-index: 9999;
        top: 0;
        opacity: 1;
    }

    .sidenav-toggle-btn {
        display: none !important;
    }

    .sidebar-close {
        display: block;
    }
}

// Page Wrapper
.page-wrapper {
    -webkit-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    margin: 0 0 0 var(--sidenav-width);
    display: flex;
    flex-direction: column;
}